<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Unguided 1</title>
</head>
<body>
  <style>
    html, body {
        box-sizing: border-box;
        height: 100%;
        padding: 25px;
        background-color: black;
        color: white;
    }
    #app{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    @keyframes typing {
        0% { width: 0 }
        99% { width: 100% }
        100% {width: 0%;}
    }

    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: darkslategray; }
    }
</style>
    
<div class="view" id="app">
    <form name="form">
      <BR></BR>
      <div class="div" v-if="path == '.'">
        <center>
            <div class="uk-card uk-card-default uk-width-1-2@m">
                <BR></BR>
                <FONT size="10"> Game Tebak Angka!</FONT>
                <p>Tebaklah angka dari 1-10</p>
                <BR>
                <INPUT class="uk-input" v-model="guess" TYPE="text" NAME="input" autofocus="autofocus" size="15"></INPUT>
                <BR></BR>
                <input class="uk-button uk-button-primary" type="button" @click="checkInput()" value="   Tebak   "/>
                <BR></BR>
            </div>
        </center>
      </div>
      <div class="div" v-if="path != '.'">
        <center>
            <div class="uk-card uk-card-default uk-width-1-2@m">
                <BR></BR>
                <FONT size="10"> Tebak Angka!</FONT>
                <p>Tebaklah angka dari 1-10</p>
                <BR>
                <INPUT disabled class="uk-input" v-model="guess" TYPE="text" NAME="input" size="15"></INPUT>
                <BR></BR>
                <input disabled class="uk-button uk-button-primary" type="button" @click="checkInput()" value="   Tebak   "/>
                <BR></BR>
            </div>
          <BR></BR>
          <div v-if="path == 'wrong'">
            <FONT size="5" color="Darkslateblue">Tebakan kamu salah!</FONT>
            <BR></BR>
            <FONT size="4">Kamu masih punya {{ 3-i }} kesempatan lagi</FONT>
            <BR></BR>
            <input class="uk-button uk-button-danger" type="button" @click="enable()" value="   Tebak Lagi   "/>
          </div>
          <div class="div" v-if="path == 'victory'">
            <FONT size="6" color="Green">
              <B>🎉 Selamat</B></FONT><FONT size="6" color="Darkslategrey">, tebakanmu benar!
            </FONT>
            <p>Angka yang benar adalah {{n}}</p>
            <p>Kamu telah menggunakan {{ i }} kesempatan</p>
            <BR>
            <input class="uk-button uk-button-primary" type="button" name="again" value="   Main Lagi  " @click="reload()"/>
          </div>
          <div class="div" v-if="path == 'lost'">
            <font size="6" color="gray">😔 Tebakanmu <font size="6.2" color="Red">salah</font>, jawaban yang benar adalah {{ n }}</font><br/>
            <BR>
            <input class="uk-button uk-button-primary" type="button" name="again" value="   Main Lagi  " @click="reload()"/>
          </div>
        </center>
      </div>
    </form>
    <div class="uk-position-bottom uk-overlay uk-overlay-default uk-text-center" ALIGN="center">{{nama}} | {{npm}} | {{kelas}}</div>
  </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            n: -1,
            i: 0,
            path: ".",
            guess: "",
            nama: "Axel Santoso",
            npm: "1807098535,
            kelas: "PAW C"
        },
        methods: {
            setRndNumber: function () {
                do {
                    this.n = Math.ceil(Math.random() * 10);
                } while (this.n > 10 || this.n < 1);
                console.log(this.n);
            },
            checkInput: function (input) {
                if (this.n == -1) {
                    this.setRndNumber();
                }

                let num = parseInt(this.guess);
                this.guess = "";
                num = Math.ceil(num);
                if (num >= 1 && num <= 10) {
                    ++this.i;
                    if (num == this.n) {
                    this.path = "victory";
                    } else {
                        if (this.i == 3) {
                            this.path = "lost";
                        } else {
                            if (num > this.n || num < this.n) {
                                this.path = "wrong";
                            }
                        }
                    }
                    form.reset();
                } else {
                    alert("Angka yang dimasukkan harus 1 hingga 10.");
                    form.reset();
                }
            },
            enable: function(){
                this.path=".";
            },
            reload: function() {
                this.path = ".";
                this.setRndNumber();
                this.i = 0;
            }     
        }
    });
    app.setRndNumber();
</script>
</body>
</html>